# {{ ansible_managed }}
Types: deb
URIs: {{ docker_apt_repo }}
Suites: {{ docker_apt_suite }}
Components: stable
Architectures: {{ ansible_facts['architecture'] | replace('x86_64', 'amd64') | replace('aarch64', 'arm64') }}
Signed-By: /etc/apt/keyrings/docker.asc
